<head>
  <meta charset="utf-8">
  <title>main</title>
</head>
<body>
  <h1>main</h1>
  <p>hello, <strong><%= myname %></strong></p>
  <ul id="userlist">
    <% usernames.forEach(function(username) { %>
      <li><a href="/users"><%= username %></a></li>
    <% }); %>
  </ul>
  <a href="/logout">LOGOUT</a>
  </body>
