<head>
  <meta charset="utf-8">
  <title>users</title>
</head>
<body>
  <h1>USERS</h1>
  <p>hello, <strong><%= myname %></strong></p>
  <p><%= other_name %></p>
  <a href="/main">MAINページへ</a>
  <a href="/logout">LOGOUT</a>
  </body>
